body {
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.input {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pure-menu-item {
  font-size: 18px;
}

.pure-menu-heading {
  font-size: 20px;
}

.content {
    padding: 50px 30px 30px;
}

.menu-left {
  float: left;
}

.menu-right {
  float: right;
}
/* Alert */

#alert {
    position: relative;
}
#alert:hover:after {
    background: hsla(0,0%,0%,.8);
    border-radius: 3px;
    color: #f6f6f6;
    content: 'Klikkaa piilottaaksesi';
    font: bold 12px/30px sans-serif;
    height: 30px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 200px;
}
#alert:hover:before {
    border-bottom: 10px solid hsla(0,0%,0%,.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 40px;
    width: 0;
}
#alert:target {
    display: none;
}
.alert {
    background-color: #c4453c;
    background-size: 20px 20px;
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
    z-index: 10;
    -webkit-animation: alert 0.5s ease forwards;
       -moz-animation: alert 0.5s ease forwards;
        -ms-animation: alert 0.5s ease forwards;
         -o-animation: alert 0.5s ease forwards;
            animation: alert 0.5s ease forwards;
}

/* Animation */

@-webkit-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { top: 0; }
}
@-moz-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { top: 0; }
}
@-ms-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { top: 0; }
}
@-o-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { top: 0; }
}
@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { top: 0; }
}

/* Notice */

#notice {
  position: relative;
}
#notice:hover:after {
  background: hsla(0,0%,0%,.8);
  border-radius: 3px;
  color: #f6f6f6;
  content: 'Klikkaa piilottaaksesi';
  font: bold 12px/30px sans-serif;
  height: 30px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 200px;
}
#notice:hover:before {
  border-bottom: 10px solid hsla(0,0%,0%,.8);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 40px;
  width: 0;
}
#notice:target {
  display: none;
}

.notice {
  background-color: #0077c5;
  background-size: 20px 20px;
  color: #f6f6f6;
  display: block;
  font: bold 16px/40px sans-serif;
  height: 40px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: -45px;
  width: 100%;
  z-index: 10;
  -webkit-animation: notice 0.5s ease forwards;
  -moz-animation: notice 0.5s ease forwards;
  -ms-animation: notice 0.5s ease forwards;
  -o-animation: notice 0.5s ease forwards;
  animation: notice 0.5s ease forwards;
}

/* Animation */

@-webkit-keyframes notice {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { top: 0; }
}
@-moz-keyframes notice {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { top: 0; }
}
@-ms-keyframes notice {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { top: 0; }
}
@-o-keyframes notice {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { top: 0; }
}
@keyframes notice {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { top: 0; }
}