doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
  body
    if message
      div#alert
        a.alert(href="#alert")= message
    div.pure-menu.pure-menu-horizontal
      a(href="/").pure-menu-heading.pure-menu-link LippuLasse
      ul.pure-menu-list
        if login
          li.pure-menu-item
            a(href="/events").pure-menu-link Tapahtumat
        if login
          li.pure-menu-item
            a(href="/admin").pure-menu-link Hallinta
        if login
          li.pure-menu-item
              a(href="/logout").pure-menu-link Uloskirjaus
        else if !login
          li.pure-menu-item
              a(href="/login").pure-menu-link Kirjaudu sisään
        if login
          li.pure-menu-item
            a(href="#").pure-menu-link= name


    div.content
      block content
