doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
  body
    if message
      div#alert
        a.alert(href="#alert")= message
    if message2
      div#alert2
        a.alert2(href="#alert")= message2
    div.pure-menu.pure-menu-horizontal
      a(href="/").pure-menu-heading.pure-menu-link LippuLasse
      ul.pure-menu-list
        if login
          li.pure-menu-item
            a(href="/events").pure-menu-link Tapahtumat
          li.pure-menu-item
            a(href="/admin").pure-menu-link Hallinta
      if login
        ul.pure-menu-list.goRight
          li.pure-menu-item
            a(href="#").pure-menu-link= name
          li.pure-menu-item
            a(href="/logout").pure-menu-link Uloskirjaus
      else
        li.pure-menu-item
          a(href="/login").pure-menu-link Kirjaudu sisään



    div.content
      block content
