doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pure-min.css')
  body
    if alertmsg
      div#alert
        a.alert(href="#alert")= alertmsg
    if notice
      div#notice
        a.notice(href="#notice")= notice
    div.pure-menu.pure-menu-horizontal
      div.menu-left
        a(href="/").pure-menu-heading.pure-menu-link LippuLasse
        ul.pure-menu-list
          if login
            li.pure-menu-item
              a(href="/events").pure-menu-link Tapahtumat
            li.pure-menu-item
              a(href="/admin").pure-menu-link Hallinta
            li.pure-menu-item
              a(href="/report").pure-menu-link Raportti
      div.menu-right
        if login
          ul.pure-menu-list.goRight
            li.pure-menu-item
              a(href="#").pure-menu-link= name
            li.pure-menu-item
              a(href="/logout").pure-menu-link Uloskirjaus
        else
          li.pure-menu-item
            a(href="/login").pure-menu-link Kirjaudu sisään



    div.content
      block content
